@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&family=Kanit:wght@400;500;600&family=Lobster+Two:wght@400;700&family=Montserrat:wght@300;500;800&family=PT+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s ease;
}

/* Estilo de colores por defecto */
:root {
  --primaryColor: hsl(94, 59%, 35%);
  --hoverColor: #bdf094;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);

  /* Fuente y tipo de tipografia */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

/* estilos por defecto */
html {
  font-size: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.icon {
  font-size: var(--h2FontSize);
}

img {
  width: 100%;
  height: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--inputColor);
  padding: 0.8rem 1rem;
  color: var(--textColor);
  margin-right: 2rem;
}

.btn .icon {
  margin-left: 0.5rem;
}

.btn:hover {
  background: var(--paleGreen);
  color: var(--primaryColor);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;
}

.container {
  position: relative;
  width: 98vw;
  height: 95vh;
  /* width: auto;
  height: auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bgColor);
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px var(--greyText);
}

/* Esconder el scrollbar */
::-webkit-scrollbar {
  display: none;
}
