.inicio_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 82%;
  height: 100%;
  overflow: auto;
  padding:0 2rem 0 2rem ;
}

.img_dashboard {
  width: 80%;
  height: auto;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

