/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 602px) {
  .container-login {
    height: 90%;
    width: 100%;
    flex-direction: column;
    padding: .5rem;
  }

  .videoDiv {
    width: 100%;
  }

  .videoLogin {
    width: 100%;
  }

  .titulo {
    font-size: 20px;
  }

  p {
    padding: 1rem;
  }

  .text {
    font-size: 12px;
  }

  .btn {
    padding: .4rem 1.5rem;
  }

  .formDiv {
    /* gap: 1rem; */
    transform: translateY(-0.5rem);
  }

  .headerDiv {
    padding: 1rem 0;
  }

  img {
    width: 25%;
  }

  h3 {
    font-size: 20px;
  }

  .form {
    gap: .5rem;
  }

  input {
    width: 100%;
  }
  .btn{
    margin-block: 1rem;
  }
}


/* For large devices */
@media screen and (max-width: 778px) {
  .titulo {
    font-size: 25px;
  }

  p {
    padding: 1rem;
  }

  .text {
    font-size: 12px;
  }

  .btn {
    padding: .8rem 1.5rem;
  }

  .headerDiv {
    padding-top: 2rem;
    /* padding: 1rem 0; */
  }

  h3 {
    font-size: 20px;
  }

  input {
    width: 100%;
    max-width: 200px;
  }
}

/* For large devices */
@media screen and (max-width: 927px) {
  .container-login {
    width: 85%;
  }
}