.headerSection {
  justify-content: space-between;
  /* width: 82%; */
  height: 100%;
  padding: 2rem;
  overflow: auto;
}

h2 {
  color: var(--blackColor);
  font-weight: 700;
}

.topSection {
  background: var(--hoverColor);
  /* height: auto; */
  width: 100%;
}

.paraderos_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 82%; */
  height: 100%;
  overflow: auto;
  padding: 2rem;
  /* top: 0; */
}

.form {
  gap: 1rem;
}

input {
  background: none;
  outline: none;
  border: none;
  width: 250px;
}
/* Estilos para el contenedor de los campos de entrada */
.input {
  gap: 0.5rem;
  padding: 1rem;
  background: var(--inputColor);
  border-radius: 10px;
}