.mainContent{
  background: center / cover url("../assets/fondo1.png");
}
.headerSection {
  justify-content: space-between;
  /* width: 82%; */
  height: 100%;
  padding: 2rem;
  overflow: auto;
}

h2 {
  color: var(--blackColor);
  font-weight: 700;
}

.topSection {
  background: var(--hoverColor);
  /* height: auto; */
  width: 100%;
}

.paraderos_content {
  /* height: 100%; */
  width: 100%;
  overflow: hidden;
  padding: 1rem;
  position: sticky;
  top: 0;
}

.form {
  gap: 1rem;
}

input {
  background: none;
  outline: none;
  border: none;
  width: 250px;
}
/* Estilos para el contenedor de los campos de entrada */
.input {
  gap: 0.5rem;
  padding: 0.4rem;
  background: var(--inputColor);
  border-radius: 10px;
  width: 20rem;
  /* margin-right: 4rem; */
}

.tabla {
  overflow: auto;
  width: 100%;
  padding: 0 2rem;
  margin-block: 1.5rem;
  height: 100%;
}
