.headerSection {
  justify-content: space-between;
  /* width: 82%; */
  height: 100%;
  padding: 2rem;
  overflow: auto;
}

h2 {
  color: var(--blackColor);
  font-weight: 700;
}

.topSection {
  background: var(--hoverColor);
  /* height: auto; */
  width: 100%;
}

.tarjetas_content {
  width: 100%;
  overflow: hidden;
  padding: 1rem;
  position: sticky;
  top: 0;
}

.form {
  gap: 1rem;
}

.flex {
  display: flex;
  align-items: center;
}

input {
  background: none;
  outline: none;
  border: none;
  width: 18rem;
}
/* Estilos para el contenedor de los campos de entrada */
.input {
  gap: 0.5rem;
  padding: 0.4rem;
  background: var(--inputColor);
  border-radius: 10px;
  width: 19rem;
}


.container {
  position: relative;
  width: 98vw;
  height: 95vh;
  /* width: auto;
  height: auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bgColor);
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px var(--greyText);
}