@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&family=Kanit:wght@400;500;600&family=Lobster+Two:wght@400;700&family=Montserrat:wght@300;500;800&family=PT+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s ease;
}

/* Estilo de colores por defecto */
:root {
  --primaryColor: hsl(94, 59%, 35%);
  --hoverColor: #bdf094;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);

  /* Fuente y tipo de tipografia */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

.sideBar {
  background: var(--whiteColor);
  box-shadow: 1px 0px 4px var(--greyText);
  width: 18%;
  height: 100%;
  gap: 3rem;
  overflow: auto;
}

.logoDiv {
  padding: 1.5rem 1.5rem 0;
  /* cursor: pointer; */
  align-content: center;
}

img {
  max-width: 8rem;
  margin-right: 0.5rem;
  border-radius: 2px;
  padding: 0.2rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.divTitulo {
  font-size: var(--h3FontSize);
  color: var(--blackColor);
  padding: 0 1.5rem 1.5rem;
}

.listItem {
  padding: 0.2rem 1.5rem;
  width: 100%;
  position: relative;
}

.listItem::before {
  position: absolute;
  content: "";
  height: 0%;
  left: 0;
  width: 5px;
  bottom: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: var(--primaryColor);
}

.menuLink {
  color: var(--greyText);
  font-weight: 500;
  transition: 0s ease;
}

.icon {
  margin-right: 0.5rem;
}

/* .listItem:hover,
.menuLink {
  color: var(--primaryColor);
  transition: 0;
} */

.menuLink:hover {
  color: var(--primaryColor);
  transition: 0;
}

.listItem:hover::before {
  height: 100%;
  transition: 0.3s ease;
}

h3 {
  font-size: var(--h3FontSize);
  color: var(--textColor);
  padding-bottom: 1rem;
}

.logout {
  display: inline-flex;
  align-items: center;
  margin-left: 1.2rem;
  width: 80%;
  justify-content: space-around;
  background: var(--paleGreen);
}

.log {
  display: flex;
  padding-block: 0.4rem;
}

a {
  color: var(--textColor);
}

.tituloBtn {
  font-size: 0.8rem;
  padding-bottom: 1.5rem;
  margin-bottom: 2px;
  padding: 0;
}
