/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 602px) {

  .container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 1.5rem;
  }

  .videoDiv {
    width: 100%;
  }

  .titulo {
    font-size: 20px;
  }

  p {
    padding: 1rem;
  }

  .text {
    font-size: 12px;
  }

  .btn {
    padding: .4rem 1.5rem;
  }

  .formDiv {
    gap: 1rem;
    transform: translateY(-.5rem);
  }

  .headerDiv {
    padding: 1rem 0;
  }

  img {
    width: 25%;
  }

  h3 {
    font-size: 20px;
  }

  .form {
    gap: .5rem;
  }

  input {
    width: 100%;
  }
}


/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 778px) {
  .titulo {
    font-size: 25px;
  }

  p {
    padding: 1rem;
  }

  .text {
    font-size: 12px;
  }

  .btn {
    padding: .8rem 1.5rem;
  }

  .headerDiv {
    padding: 1.5rem 0;
  }

  h3 {
    font-size: 20px;
  }


  input {
    width: 100%;
    max-width: 200px;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1024px) {
  .container {
    width: 85%;
  }
}